<?xml version="1.0"?>
<configuration>
  <system.web>
    <customErrors mode="On" defaultRedirect="~/Error.aspx" />
    <!--<compilation debug="false" targetFramework="4.0">-->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <httpRuntime requestValidationMode="2.0" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <connectionStrings>
    <add name="AirportTransferConnectionString" connectionString="Data Source=adrian_hp\adm_sql2008;Initial Catalog=AirportTransfer;Persist Security Info=True;User ID=AirportTransfer;Password=AirportTransfer123" providerName="System.Data.SqlClient" />
  <add name="AirportTransferEntities" connectionString="metadata=res://*/db.AirportTransfer.csdl|res://*/db.AirportTransfer.ssdl|res://*/db.AirportTransfer.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=adrian_hp\adm_sql2008;initial catalog=AirportTransfer;persist security info=True;user id=AirportTransfer;password=AirportTransfer123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <appSettings>
    <!--report-->
    <add key="XlsExportName" value="ExportList.xls" />
    <add key="ExcelReportFormat" value="application/vnd.xls" />
    <add key="ExcelReportAttachment" value="attachment;filename={0}" />
    <add key="ImagesFolder" value="../../DynamicData/Content/Images/" />
    <add key="ImagesRating" value="../../DynamicData/Content/Images/ui/star_full.png" />
    <add key="EndavaLogo" value="~/DynamicData/Content/Images/company/company_logo.png" />
    <add key="ExportListAt" value="{0} list on " />
    <add key="ExportDetails" value="{0} details on " />
    <!--ui messages-->
    <add key="HandlerImageFormat" value="../../UI/Handlers/ImageHandler.ashx?id={0}&amp;type={1}" />
    <add key="NoImageAvailableLine1" value="No image available for this {0}." />
    <add key="TheRecordHasBeenChanged" value="The {0} Has Been Changed" />
    <add key="TheNewRecordHasBeenAdded" value="The New {0} Has Been Added" />
    <add key="TheRecordHasBeenDeleted" value="The {0} Has Been Deleted" />
    <add key="EntityNavigatebackUrl" value="../../{0}/List.aspx" />
    <add key="DateFormatDisplay" value="yyyy-MM-dd" />
    <add key="GridRowHighlight" value="javascript:this.className='gridViewRowHighlight'" />
    <add key="GridRowUnHighlight" value="javascript:this.className='gridViewRowUnHighlight'" />
    <!--back links-->
    <add key="ForeignKeyLinkInsert" value="../../{0}/Insert.aspx" />
    <add key="ForeignKeyTextDetails" value="details" />
    <add key="ForeignKeyTextRefresh" value="refresh" />
    <add key="ForeignKeyTextNew" value="new" />
    <add key="ForeignKeyView" value="View {0}" />
    <!--list-->
    <add key="ListPleaseSelect" value="[please select]" />
    <!--main page-->
    <add key="MainPageLinkHome" value="~/" />
    <add key="MainPageLinkHelp" value="~/UI/UserManual/Airport Transfer - User's guide.docx" />
    <add key="MainPageLinkAirport" value="../../Airport/List.aspx" />
    <add key="MainPageLinkAirLine" value="../../AirLine/List.aspx" />
    <add key="MainPageLinkFlight" value="../../Flight/List.aspx" />
    <add key="MainPageLinkCostCenter" value="../../CostCenter/List.aspx" />
    <add key="MainPageLinkDelegation" value="../../Delegation/List.aspx" />
    <add key="MainPageLinkEmployee" value="../../Employee/List.aspx" />
    <add key="MainPageLinkTaxiBooking" value="../../TaxiBooking/List.aspx" />
    <add key="MainPageLinkTaxiCompany" value="../../TaxiCompany/List.aspx" />
    <add key="DefaultPageLinkFlight" value="~/Flight/Insert.aspx" />
    <add key="DefaultPageLinkAirport" value="~/Airport/Insert.aspx" />
    <add key="DefaultPageLinkAirLine" value="~/AirLine/Insert.aspx" />
    <add key="DefaultPageLinkCostCenter" value="~/CostCenter/Insert.aspx" />
    <add key="DefaultPageLinkDelegation" value="~/Delegation/Insert.aspx" />
    <add key="DefaultPageLinkEmployee" value="~/Employee/Insert.aspx" />
    <add key="DefaultPageLinkTaxiBooking" value="~/TaxiBooking/Insert.aspx" />
    <add key="DefaultPageLinkTaxiCompany" value="~/TaxiCompany/Insert.aspx" />
    <add key="DelegationsListEndDate" value="../Delegation/List.aspx?EndDate={0}" />
    <add key="DelegationsList" value="../Delegation/List.aspx" />
    <!-- error messages-->
    <add key="CantAddAirportWithTheSameCode" value="Can't add an airport with the same code ({0}) !" />
    <add key="CantAddAirportWithTheSameName" value="Can't add an airport with the same name ({0}) !" />
    <add key="CantAddAirLineWithTheSameName" value="Can't add an airline with the same name ({0}) !" />
    <add key="CantAddCostCenterWithTheSameEntity" value="Can't add a cost center with the same values ({0}), ({1}), ({2}) !" />
    <add key="CantAddDelegationWithTheSameName" value="Can't add a delegation with the same name ({0}) !" />
    <add key="CantAddDelegationStartDateGreaterThanEndDate" value="Can't add a delegation with StartDate ({0}) greater than EndDate ({1}) !" />
    <add key="CantAddFlightWithTheSameFlightNumber" value="Can't add a flight with the same number ({0}) !" />
    <add key="CantAddTaxiCompanyWithTheSameName" value="Can't add a taxi company with the same name ({0}) !" />
    <add key="CantAddTaxiBookingWithTheSamePickupAddressDropAddress" value="Can't add a taxi booking with the same PickupAddress and DropAddress ({0})) !" />
    <add key="CantAddTaxiBookingWithActualPassengersCountDifferentThanList" value="Can't add aenda taxi booking with the passengers list count ({0}) different than the specified number of persons ({1}) !" />
    <add key="CantAddDelegationEmptyCurrencyWhenCostNotEmpty" value="Can't add an empty Currency when the Cost ({0}) is not empty !" />
    <add key="CantAddDelegationEmptyCostWhenCurrencyNotEmpty" value="Can't add an empty Cost when the Currency ({0}) is not empty !" />
    <add key="LoggedErrorNumber" value="The error has been logged ({0})." />
  </appSettings>
</configuration>